{% extends "baseNav.twig" %} {% block title %} Dados do usuário {% endblock title %} {% block content %}

<h1>Dados do usuário</h1>
<p>Altere aqui os seu, email, senha ou exclua sua conta de nossa base de dados. </p>
<div class="row container">
  <figure class="figure float-left mr-1">
    <img src="{{ dados.usuario.foto ?? './images/user.png' }}" class="figure-img img-fluid" alt="Foto Usuário">
    {% if dados.usuario.foto is null %}
      <figcaption class="figure-caption text-center">
        Créditos: <br /><a href="https://bit.ly/2uvIrOi">https://bit.ly/2uvIrOi</a>
      </figcaption>
    {% endif %}
  </figure>
  <div>
    <p><b>Nome: </b></Email:>{{dados.usuario.nome}} </p>
    <p><b>Email: </b></Email:>{{dados.usuario.email}} </p>
  </div>
</div>
<div class="row container">
  <div class="btn-group" role="group" aria-label="Funções">
    <a href="{{ path_for('usuario-form-alterar-dados', { 'id': sessao.id }) }}" class="btn btn-primary">Alterar Dados</a>
    <a href="{{ path_for('usuario-alterar-foto', { 'id': sessao.id }) }}" class="btn btn-primary">Alterar Foto</a>
    <a href="{{ path_for('usuario-senha', { 'id': sessao.id }) }}" class="btn btn-primary">Alterar Senha</a>
    <a href="{{ path_for('usuario-excluir', { 'id': sessao.id }) }}" class="btn btn-danger">Excluir Conta</a>
  </div>
</div>


{% endblock content %}